<header>
    <nav class="navbar">
      <img src="imagenes/autonoma.png" alt="UASLP Logo" class="logo">
      <ul class="nav-links">
        <li><a routerLink="/">Inicio</a></li>
        <li><a href="#">Chat en linea</a></li>
        <li><a routerLink="/schedule">Horarios</a></li>
        <li><a href="/asignaciones">Asignaciones</a></li>
        <li><a href="/notas">Notas</a></li>
      </ul>
      <div class="auth-buttons">
        <button class="btn-login" routerLink="/login">Iniciar Sesión</button>
        <button class="btn-register"><a routerLink="/register">Registrarse</a></button>
      </div>
    </nav>
  </header>
  
  <section class="hero">
    <div class="hero-content">
      <h1>Organiza tu vida<br> estudiantil con<br> facilidad</h1>
      <ul>
        <li>Gestiona horarios</li>
        <li>Gestiona tareas y notas</li>
        <li>Personaliza, colabora y mejora tu rendimiento</li>
      </ul>
      <button class="download-btn">Descargar App</button>
    </div>
    <img src="imagenes/hero-image.png" alt="Hero Image" class="hero-image">
  </section>
  
  <section class="features">
    <div class="feature-container">
      <div class="feature">
        <img src="imagenes/horarios.png" alt="Gestiona tus horarios">
        <h2>Gestiona tus horarios</h2>
        <p>Crea tus horarios de las materias del curso. Personaliza tus horarios a tu gusto.</p>
      </div>
      <div class="feature">
        <img src="imagenes/tareas.png" alt="Gestiona tus tareas y recordatorios">
        <h2>Gestiona tus tareas y recordatorios</h2>
        <p>Crea y haz seguimiento de tus tareas y obligaciones.</p>
      </div>
    </div>
  </section>
  
  <section class="simple-web">
    <div class="simple-web-content">
      <h1>Una web simple y<br> minimalista</h1>
      <p class="highlight">Navegación intuitiva y fácil de usar</p>
      <ul>
        <li>
          <img src="imagenes/light-dark-mode.png" alt="Modo Claro/Oscuro">
          Temas personalizables (modo claro/oscuro)
        </li>
        <li>
          <img src="imagenes/responsive.png" alt="Interfaz Adaptativa">
          Interfaz de usuario adaptativa y responsiva
        </li>
        <li>
          <img src="imagenes/support.png" alt="Soporte Técnico">
          Soporte técnico 24/7
        </li>
      </ul>
    </div>
    <img src="imagenes/laptop.png" alt="Laptop Image" class="simple-web-image">
  </section>
  
  <footer class="pie_pagina">
    <div class="imagen_abajo">
        <img src="imagenes/autonoma.png" title="UASLP"/>
        <div class="logotipos">
            <a href="https://www.facebook.com/LaUASLP/">
                <img src="imagenes/fb_original-removebg-preview.png">
            </a>
        </div>
        <div class="logotipos">
            <a href="https://www.instagram.com/lauaslp/">
                <img src="imagenes/instragram_blanco-removebg-preview.png">
            </a>
        </div>
        <div class="logotipos">
            <a href="https://mx.linkedin.com/school/somosuaslp/">
                <img src="imagenes/in-removebg-preview.png">
            </a>
        </div>
    </div>
    <div class="pie_pagina1">
        <div class="menu">
            <h4>MENU</h4>
            <hr>
            <div class="menu-items">
                <div class="columna">
                    <a href="#">INICIO</a>
                    <a href="#">ACERCA DE</a>
                    <a href="#">HORARIOS</a>
                </div>
                <div class="columna">
                    <a href="#">TAREAS</a>
                    <a href="#">NOTAS</a>
                    <a href="#">CONTACTANOS</a>
                </div>
            </div>
        </div>
        <div class="opciones_extras">
            <div class="texto_explicacion">
                <p>Descarga Nuestra Aplicación</p>
                <p>Ingresa a estos sitios para más información</p>
            </div>
            <div class="botones_AP">
                <a href="">
                    <img src="imagenes/app_store-removebg-preview.png">
                </a>
                <a href="#">
                    <img src="imagenes/play_store-removebg-preview.png">
                </a>
            </div>
        </div>
    </div>
    <div class="linea_completa">Todos los derechos reservados</div>
</footer>
