body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(0, 0, 0) 3%,#181851 38%, rgba(3,28,255,0.516) 68%, rgb(17, 0, 255) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(0, 21, 255);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(1);
    }
}

.hero {
    padding: 50px;
    background-color: #001140;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
}

.hero-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 48px;
    color: #00BFFF;
    margin-bottom: 20px;
    text-align: left;
}

.hero ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.hero ul li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff;
}

.download-btn {
    align-self: center;
    margin-top: 20px;
    background-color: #0047FF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #0036CC;
}

.hero-image {
    max-width: 30%;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #001140;
}

.feature-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.feature {
    background-color: #141432;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.feature img {
    width: 100%;
    border-radius: 20px;
}

.feature h2,
.feature p {
    color: white;
}

.simple-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #001140;
}

.simple-web-content {
    flex: 1;
}

.simple-web-content h1 {
    color: #ffffff !important;
    text-align: left;
    margin-bottom: 20px;
}

.simple-web-content .highlight {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff !important;
}

.simple-web-content ul {
    list-style: none;
    padding: 0;
}

.simple-web-content ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.simple-web-content ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.simple-web-image {
    flex: 1;
    max-width: 50%;
    border-radius: 20px;
    margin-left: 20px;
}
