<app-header></app-header>
  <body>
    <div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>
  <section class="hero">
    <div class="hero-content">
      <h1>Organiza tu vida<br> estudiantil con<br> facilidad</h1>
      <ul>
        <li>Gestiona horarios</li>
        <li>Gestiona tareas y notas</li>
        <li>Personaliza, colabora y mejora tu rendimiento</li>
      </ul>
      <button class="download-btn">Descargar App</button>
    </div>
    <img src="imagenes/inicio1.webp" alt="Hero Image" class="hero-image">
  </section>
  
  <section class="features">
    <div class="feature-container">
      <div class="feature">
        <!--<img src="imagenes/inicio2.jpg" alt="Gestiona tus horarios" style="width: 150px; height: auto;">-->
        <h2>Gestiona tus horarios</h2>
        <p>Crea tus horarios de las materias del curso. Personaliza tus horarios a tu gusto.</p>
      </div>
      <div class="feature">
       <!-- <img src="imagenes/tareas.png" alt="Gestiona tus tareas y recordatorios">-->
        <h2>Gestiona tus tareas y recordatorios</h2>
        <p>Crea y haz seguimiento de tus tareas y obligaciones.</p>
      </div>
    </div>
  </section>
  
  <section class="simple-web">
    <div class="simple-web-content">
      <h1>Una web simple y<br> minimalista</h1>
      <p class="highlight">Navegación intuitiva y fácil de usar:</p>
      <ul>
        <li>
       <!--   <img src="imagenes/light-dark-mode.png" alt="Modo Claro/Oscuro">-->
            -Temas personalizables
        </li>
        <li>
        <!--   <img src="imagenes/responsive.png" alt="Interfaz Adaptativa">--> 
            -Interfaz de usuario adaptativa y responsiva
        </li>
        <li>
        <!--   <img src="imagenes/support.png" alt="Soporte Técnico">--> 
          -Soporte técnico 24/7
        </li>
      </ul>
    </div>
    <img src="imagenes/inicio3.png" alt="Laptop Image" style="width: 500px; height: auto;">
  </section>
</body>
<app-footer></app-footer>
