<app-header></app-header>

<body>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div id="error-message" style="display: none; color: red;"></div>
  <div id="chat-container">
    <div id="login-box">
      <div id="users-list">
        <input type="text" id="buscar" placeholder="Ingrese el nombre de usuario" [(ngModel)]="searchQuery" (input)="searchUsers()" />
        <div class="buscar-btn">
          <button id="busqueda">Buscar</button>
        </div>
        <h3>Contactos</h3>
        <div id="users-buttons">
          <div *ngFor="let user of filteredUsers">
            <button (click)="selectUser(user)">{{ user.name }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="chat_derecha">
      <div class="centrar_contacto">
        <div class="nombre_contacto" *ngIf="selectedUser">
          <h4>Conversación con: {{ selectedUser.name }}</h4>
        </div>
      </div>

      <div id="chat-box">
        <div *ngFor="let message of messages">
          <!-- Mensajes recibidos -->
          <div *ngIf="!message.isOwnMessage" class="flex_mensajes1">
            <div class="message1 message-received">
              <strong>{{ message.senderName }}</strong>: {{ message.content }}
            </div>
          </div>

          <!-- Mensajes enviados -->
          <div *ngIf="message.isOwnMessage" class="flex_mensajes2">
            <div class="message1 message-sent">
              <strong>{{ message.senderName }}</strong>: {{ message.content }}
            </div>
          </div>
        </div>
      </div>

      <form id="chat-form" (ngSubmit)="sendMessage()">
        <input
        type="text"
        id="message"
        [(ngModel)]="messageContent"
        name="message"
        placeholder="Mensaje"
        required
        (keydown.enter)="sendMessage($event)"
      />
              <button type="submit">Enviar</button>
      </form> 
    </div>
  </div>
</body>

<app-footer></app-footer>
