body {
    margin: 0; /* Asegúrate de que el margen sea 0 */
    padding: 0; /* Asegúrate de que el padding sea 0 */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(0, 0, 0) 3%, #181851 38%, rgba(3, 28, 255, 0.516) 68%, rgb(17, 0, 255) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(0, 21, 255);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(1);
    }
}

#chat-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos pequeños */
    gap: 20px; /* Espaciado entre elementos */
    margin: 20px 0;
}
.chat_derecha {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centrar_contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Espaciado debajo del encabezado */
  }
  
  .nombre_contacto {
    background-color: rgba(0, 0, 171, 0.6);
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: auto; /* Ajusta el ancho automáticamente al contenido */
    max-width: none; /* Elimina la restricción de ancho máximo */
    white-space: normal; /* Permite que el texto ocupe varias líneas si es necesario */
    overflow: visible; /* Permite que todo el contenido sea visible */
    margin: 0 auto 10px auto; /* Centrado con margen inferior */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra para destacar */
}


  

#login-box {
    width: 320px;
}

#chat-box {
    display: flex;
    flex-direction: column; /* Orden natural de los mensajes */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
    height: 450px;
    padding: 15px;
    background-color: rgba(0, 0, 171, 0.6);
    border-radius: 20px;
  }
  

#chat-form {
    display: flex;
    justify-content: space-evenly;
}

#chat-form input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: none;
    width: 700px;
}

#chat-form button {
    color: white;
    padding: 5px;
    border-radius: 7px;
    border: none;
    width: 60px;
    height: 40px;
    background-color: rgb(0, 3, 163);
}

#chat-form button:hover {
    background-color: rgba(0, 42, 255, 0.846);
    border: 1px solid rgb(254, 254, 254);
    font-weight: bold;
}

#chat-form button img {
    width: 35px;
    height: 30px;
}

.audio-button-active {
    background-color: #f44336;
    color: white;
}

.audio-button-inactive {
    background-color: #fdfdfd;
    color: white;
}

#users-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#users-list h3 {
    background-color: rgb(0, 0, 130);
    color: white;
    padding: 5px;
    border: 5px solid white;
    width: 270px;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}

#users-list #users-buttons {
    background-color: rgba(0, 0, 171, 0.6);
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow-y: auto;
    height: 350px;
}

#users-list #users-buttons button {
    background-color: rgb(0, 0, 130);
    border: 2px solid rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    width: 270px;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px 10px 0px 10px;
}

#users-list #users-buttons button:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(164, 164, 164, 0.54);
    box-shadow: 3px 3px 10px white;
}

#users-list input[type="text"] {
    padding: 10px;
    border-radius: 12px;
    border: none;
    width: 90%;
    margin-bottom: 10px;
}

#users-list .buscar-btn {
    display: flex;
    justify-content: center;
}

#users-list .buscar-btn button {
    background-color: #0026d4;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#users-list .buscar-btn button:hover {
    background-color: #0016a0;
    box-shadow: 0 0 10px 2px #ffffff;
}

.file-message {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.file-options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.file-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 10px;
}

.file-button:last-child {
    margin-right: 0;
}

.file-button:hover {
    background-color: #0056b3;
}

.flex_mensajes1 {
    width: 100%;
    display: flex;
    justify-content: start; /* Alinea a la izquierda */
  }
  
.flex_mensajes2 {
    width: 100%;
    display: flex;
    justify-content: end;
}

.message1 {
    padding: 10px;
    margin: 3px 0;
    max-width: 100%; /* Ajusta según necesites */
}

.message-sent {
    color: black;
    font-size: 16px;
    border: 5px solid rgb(108, 108, 108);
    border-radius: 0 10px 10px 10px;
    background-color: white;
}

.message-received {
    color: black;
    font-size: 16px;
    border: 5px solid rgb(108, 108, 108);
    border-radius: 0 10px 10px 10px;
    background-color: white;
}

#error-message {
    display: none;
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
}

.message-received strong {
    color: #0056b3;
    font-weight: bold;
  }
  
  .message-sent strong {
    color: #007bff;
    font-weight: bold;
  }
  
  .reverse-order {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Los mensajes más nuevos estarán en la parte inferior */
    overflow-y: auto;
    height: 450px; /* Ajusta según el diseño de tu chat */
    padding: 15px;
    background-color: rgba(0, 0, 171, 0.6);
    border-radius: 20px;
  }
  