<footer class="pie_pagina">
    <div class="imagen_abajo">
        <img src="imagenes/autonoma.png" alt="UASLP Logo" class="logo-uaslp">

        <div class="logotipos">
            <a href="https://www.facebook.com/LaUASLP/">
                <img src="imagenes/fb_original-removebg-preview.png">
            </a>
        </div>
        <div class="logotipos">
            <a href="https://www.instagram.com/lauaslp/">
                <img src="imagenes/instragram_blanco-removebg-preview.png">
            </a>
        </div>
        <div class="logotipos">
            <a href="https://mx.linkedin.com/school/somosuaslp/">
                <img src="imagenes/in-removebg-preview.png">
            </a>
        </div>
    </div>

    <div class="pie_pagina1">
        <div class="menu">
            <h4>MENU</h4>
            <hr>
            <div class="menu-items">
                <div class="columna">
                    <a href="#">INICIO</a>
                    <!--<a href="#">ACERCA DE</a>-->
                    <a href="#">HORARIOS</a>
                </div>
                <div class="columna">
                    <a href="#">TAREAS</a>
                    <a href="#">NOTAS</a>
                   <!----> <a href="#">CONTACTANOS</a>-->
                </div>
            </div>
        </div>
        <div class="opciones_extras">
            <div class="texto_explicacion">
                <p>Descarga Nuestra Aplicación</p>
                <p>Ingresa a estos sitios para más información</p>
            </div>
            <div class="botones_AP">
                <a href="">
                    <img src="imagenes/app_store-removebg-preview.png">
                </a>
                <a href="#">
                    <img src="imagenes/play_store-removebg-preview.png">
                </a>
            </div>
        </div>
    </div>
    <div class="linea_completa">Todos los derechos reservados</div>
</footer>
