/* Contenedor principal del modal */
.mat-dialog-container {
    background-color: #0a1128; /* Fondo oscuro */
    border-radius: 10px; /* Esquinas redondeadas */
    color: #ffffff; /* Texto blanco */
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra suave */
    padding: 20px;
    text-align: left;
  }
  
  
  /* Estilo del título del modal */
  .mat-dialog-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #00b4d8; /* Color destacado */
    margin-bottom: 10px;
  }
  
  
  /* Estilo del contenido del modal */
  mat-dialog-content p {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  
  /* Estilo del contenedor de botones */
  .mat-dialog-actions {
    margin-top: 20px;
  }
  
  /* Botón de cerrar */
  button[mat-button] {
    background-color: #00b4d8; /* Azul institucional */
    color: #ffffff; /* Texto blanco */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 8px 16px;
    font-size: 1rem;
  }
  
  button[mat-button]:hover {
    background-color: #0077b6; /* Azul más oscuro */
  }
  
  