<header>
  <nav class="navbar">
    <img src="imagenes/autonoma.png" alt="UASLP Logo" class="logo">
    <ul class="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a href="/chat">Chat en línea</a></li>
      <li><a routerLink="/horario">Horarios</a></li>
      <li><a href="/asignaciones">Asignaciones</a></li>
      <li><a href="/notas">Notas</a></li>
    </ul>
    <div class="auth-buttons">
      <button *ngIf="!isLoggedIn" class="btn-login" routerLink="/login">Iniciar Sesión</button>
      <button *ngIf="!isLoggedIn" class="btn-register" routerLink="/register">Registrarse</button>
      <span *ngIf="isLoggedIn" class="username">Hola, {{ username }}</span>
      <button *ngIf="isLoggedIn" class="btn-login" (click)="logout()">Cerrar sesión</button>
    </div>
  </nav>
</header>
