<header class="div_uaslp">
    <a routerLink="/inicio">
        <img src="imagenes/uaslp_logo.png" alt="UASLP Logo" class="logo-uaslp">
        
    </a> 
</header>
<body>
<div class="container">
    <main>
        <div class="form-container">
            <div class="form-content">
                <div class="profile-pic">
                    <img src="imagenes/icon.png" alt="Profile Placeholder">
                </div>
                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <div class="flex_error">
                        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
                        <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
                    </div>
                
                    <input type="text" name="nombre_usuario" placeholder="Usuario" ngModel required>
                    <input type="email" name="email" placeholder="Email" ngModel required>
                    <input type="password" name="password" placeholder="Password" ngModel required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" ngModel required>
                    <button type="submit">Registrarse</button>
                </form>
            </div>
            <div class="tiene_cuenta">
                <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
            </div>
        </div>
    </main>
</div>
</body>
<app-footer></app-footer>