:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001140;
    color: #fff;
    overflow-x: hidden;
}

.div_uaslp {
    width: 100%; /* Ocupa todo el ancho de la página */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    background-color: #001140;
    padding-top: 30px; /* Ajusta según lo que necesites */
    padding-bottom: 20px; /* Agrega espacio en la parte inferior */
}

.logo-uaslp {
    max-width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 20px; /* Espacio en la parte inferior de la imagen */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px; /* Separación desde el header */
    margin-bottom: 30px; /* Separación hacia el footer */
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Quita el fondo */
}

.form-container {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 600px;
    background-color: #001140; /* Fondo del formulario */
}

.form-container:hover {
    box-shadow: 3px 3px 10px black;
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    margin-right: 20px;
}

.profile-pic img {
    border-radius: 50%;
    max-width: 100px;
}

form {
    flex: 1;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #e5e5e5;
    color: #333;
}

form button {
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #007bffb6;
}

.tiene_cuenta a {
    text-decoration: none;
    color: aqua;
    margin-left: 30px;
}

.tiene_cuenta a:hover {
    color: aqua;
    text-decoration: underline;
    text-shadow: 3px 3px 10px;
}
