<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>

<app-header></app-header>
<body>
  <div class="container">
    <h1>Horario de Clases</h1>
    <table id="schedule" #scheduleTable>
      <thead>
        <tr>
          <th>Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of hours">
          <td>{{ hour }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="subjects">
      <h2>Materias Disponibles</h2>
      <select id="career">
        <option value="Ingeniería">Ingeniería</option>
        <!-- Más opciones -->
      </select>
      <select id="semester">
        <option value="Semestre 1">Semestre 1</option>
        <!-- Más opciones -->
      </select>
      <div id="subject-list">
        <div class="subject" *ngFor="let subject of subjects" draggable="true">
          {{ subject.name }}
        </div>
      </div>
    </div>

    <!-- Botones para acciones -->
    <button (click)="saveSchedule()">Guardar Horario</button>
    <!-- Botón para descargar el horario como PDF -->
  <button (click)="generatePDF()">Descargar en PDF</button>

    <button (click)="resetSchedule()">Reiniciar Horario</button>
  </div>

  <div id="subjectModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Información de la Materia</h2>
      <p id="modal-subject"></p>
      <p id="modal-profesor"></p>
      <p id="modal-salon"></p>
      <!--<button id="remove-subject">Eliminar</button>-->
    </div>
  </div>
</body>
<app-footer></app-footer>
