
<div class="div_uaslp">
    <a href="/inicio"><img src="imagenes/autonoma.png" alt="Logo UASLP" class="logo-uaslp"></a>
</div>
<div class="div_general">
    <div class="div_formulario">
        <form (ngSubmit)="onSubmit()" #datos="ngForm">
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <div class="div_password">
                <input type="email" id="email" name="email" placeholder="Email" required [(ngModel)]="email" />
            </div>
            <div class="div_password">
                <input type="password" id="password" name="password" placeholder="Contraseña" required [(ngModel)]="password" />
            </div>
            <div class="div_iniciar">
                <button class="iniciar_sesion" type="submit">Iniciar sesión</button>
            </div>
        </form>
        <div class="olvidar_password">
            <a routerLink="/olvidar-contraseña">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="div_iniciar">
            <div class="crear_cuenta">
                <a routerLink="/registro">Crea una cuenta</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

