
body {
    margin: 0;
    padding: 0;
}

.div_uaslp {
    width: 100%; /* Ocupa todo el ancho de la página */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    background-color: #001140;
    padding-top: 30px; /* Ajusta según lo que necesites */
    padding-bottom: 20px; /* Agrega espacio en la parte inferior */
}


.logo-uaslp {
    max-width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 20px; /* Espacio en la parte inferior de la imagen */
}


.div_general {
    padding: 30px 30px;
    display: flex; 
    justify-content: center;
    background-color: #2a2b8d;
}
.div_formulario {
    padding: 60px 40px;
    width: 400px;
    border-radius: 20px;
    font-family: arial;
    box-shadow: 1px 1px 8px;
    background-color: #001140;
}
.div_formulario:hover {
    box-shadow: 3px 3px 10px;
}
input {
    width: 270px;
    height: 30px;
    border-radius: 15px 0px 15px 15px;
    font-family: 'Courier New';
}
.div_password {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.div_iniciar {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.olvidar_password {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.olvidar_password a:hover {
    text-decoration: underline;
    box-shadow: 1px 1px 10px;
}
.crear_cuenta {
    background-color: rgb(0, 50, 168);
    padding: 9px 0px;
    border-radius: 20px; 
    font-size: 13px;
    box-shadow: 2px 3px 8px;
}
.crear_cuenta a {
    padding: 9px 15px;
    border-radius: 20px;
    color: #ffffff;
}
.crear_cuenta a:hover {
    background-color: rgba(0, 0, 255, 0.566);
}
.iniciar_sesion {
    background-color: rgb(3, 28, 516);
    padding: 10px 60px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 13px;
}
.iniciar_sesion:hover {
    background-color: rgba(3, 28, 255, 0.516);
}
a:link, a:hover, a:visited {
    text-decoration: none;
    color: white;
}
.olvidar_password a {
    color: white; 
}
